@model IEnumerable<S2G5_PVFAPP.Models.OrderLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderedQuanity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderedQuanity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
